* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  align-items: center;
  justify-content: center;
}

#table {
  width: 500px;
  border: 1px solid black;
  border-radius: 8px;
  border-collapse: collapse;
  overflow: hidden;
}

th,
td {
  padding: 10px 20px;
  text-align: center;
  border: 1px solid black;
}

#table .table-header {
  background-color: rgb(48, 231, 176);
  color: white;
}

#table .table-body tr:hover {
  background-color: rgb(182, 182, 182);
  color: rgb(48, 231, 176);
}
